@font-face {
    font-family: "IBMPlexSans-Light";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Light.woff") format("woff"), url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "IBMPlexSans-Medium";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "IBMPlexMono-Medium";
    font-display: swap;
    src: url("../fonts/IBMPlexMono-Medium.woff") format("woff"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}