@import "nulling-styles";
@import "fonts";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.widthCenter {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.form-wrapper {
    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
    }
    &__title {
        margin-bottom: 24px;
        & p {
            font-family: "IBMPlexSans-Medium";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            color: #0E0A19;
        }
        & p:last-child::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 20px;
            margin-top: 21px;
            margin-left: -10px;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
        }
    }
    .header {
        &__container {
            display: flex;
            justify-content: space-between
        }
        &__description {
            margin-top: 16px;
            & p {
                font-family: "IBMPlexMono-Medium";
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #0E0A19;
                &:last-child::after {
                    content: "";
                    width: 16px;
                    height: 7px;
                    position: absolute;
                    margin: 8px 0 0 3px;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                }
            }
        }
        &__info {
            display: flex;
        }
        &__address {
            display: flex;
            align-items: center;
            margin-right: 27px;
            &-loc {
                background: url(../img/description/loc.svg) center/cover no-repeat;
                width: 10px;
                height: 12px;
                margin: 0 10px 1px 0;
            }
            & p {
                font-family: "IBMPlexSans-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
            }
        }
        &__contacts {
            background: #312F2F;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 30px;
            width: 142px;
            height: 60px;
            &-title {
                font-family: "IBMPlexSans-Light";
                margin-bottom: 5px;
            }
            &-title, .header__contacts-number {
                color: #FFFFFF;
                font-size: 12px;
                line-height: 12px;
            }
            &-number a {
                font-family: "IBMPlexSans-Medium";
                color: #FFFFFF;
            }
        }
        &__curtain {
            width: 70px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #FF3B3D;
            & div {
                width: 36px;
                height: 4px;
                background: #FFFFFF;
                margin-bottom: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    .wrapper {
        display: flex;
        margin-bottom: 20px;
        .label {
            &:first-child {
                margin-right: 30px;
            }
            &__title {
                font-family: "IBMPlexSans-Medium";
                margin-bottom: 21px;
                font-size: 14px;
                line-height: 15px;
                color: #C4C4C4;
            }
            &__input {
                font-family: "IBMPlexSans-Medium";
                padding-left: 16px;
                font-size: 14px;
                line-height: 15px;
                color: #FF3B3D;
                width: 270px;
                height: 76px;
                border: 1px solid #E8DFE0;
                box-sizing: border-box;
                &:focus {
                    border: 1px solid #FF3B3D;
                }
            }
        }
        .choose {
            margin-top: 36px;
            display: flex;
            cursor: pointer;
            &__btn {
                background: #FF3B3D;
                font-family: "IBMPlexSans-Light";
                position: relative;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                line-height: 15px;
                color: #FFFFFF;
                width: 202px;
                height: 76px;
            }
            &__arrow {
                background: #0E0A19;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 76px;
                &::before {
                    content: "";
                    background: url(../img/arrow/arrow.svg) center/cover no-repeat;
                    position: absolute;
                    width: 13px;
                    height: 32px;
                }
            }
        }
    }
    .check-mark {
        display: block !important;
    }
    .flex-block {
        display: flex;
        &__container {
            display: flex;
            width: 270px;
            margin-right: 30px;
        }
        &__jackdaw {
            width: 10px;
            height: 10px;
            background: #FF3B3D;
            cursor: pointer;
        }

        &__text {
            font-family: "IBMPlexSans-Light";
            margin-left: 15px;
            font-size: 12px;
            line-height: 12px;
            color: #C4C4C4;
        }
        &__send {
            cursor: pointer;
            width: 263px;
            height: 76px;
            background: #312F2F;
            font-family: "IBMPlexSans-Medium";
            box-shadow: 0 6px 10px -4px #333;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            position: relative;
        }
        &__border {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                border: 1px solid #312F2F;
                box-sizing: border-box;
                bottom: 7px;
                left: 7px;
                width: 263px;
                height: 76px;
            }
        }
    }
    .rectangle {
        margin-top: 15px;
        position: relative;
        &__img {
            top: -53px;
            position: absolute;
            width: 543px;
            height: 547px;
            z-index: 10;
            right: 0;
            bottom: 10px;
            background: url(../img/rectangle/MockUp.png) no-repeat;
        }
        &__wrap {
            background: #FF3B3D;
            width: 457px;
            padding: 55px;
        }
        &__info {
            padding-top: 81.4%;
        }
        &__title {
            margin-bottom: 26px;
            & p {
                font-family: "IBMPlexSans-Medium";
                font-size: 18px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
        &__text {
            width: 230px;
            & p {
                font-family: "IBMPlexSans-Medium";
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;
                &:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label:before {
	content: '';
	position: absolute;
    width: 10px;
    height: 10px;
    background: #FF3B3D;
    cursor: pointer;
}
.checkbox:checked + label:before {
    width: 10px;
    height: 9px;
    background: url(../img/arrow/Vector.svg) center no-repeat !important;
}
.slider-wrap {
    .slider-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        background: #FF3B3D;
        &__left, .slider-btn__fight {
            cursor: pointer;
            width: 85px;
            height: 60px;
        }
        &__left {
            background: url(../img/slider/arrow.svg) center no-repeat;
            transform: rotate(-180deg);
        }
        &__fight {
            background: url(../img/slider/arrow.svg) center no-repeat;
        }
    }
    &__holder {
        position: relative;
        display: flex;
    }
    &__title {
        margin-bottom: 38px;
        & p {
            font-family: "IBMPlexSans-Medium";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            color: #0E0A19;
        }
        & p:last-child::after {
            content: "";
            position: absolute;
            margin: 22px 0 0 7px;
            width: 50px;
            height: 20px;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
        }
    }
    &__inner {
        width: 370px;
    }
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__carousel {
        &-img {
            margin-bottom: 30px;
            width: 100%;
            height: 360px;
        }
    }
    &__info {
        margin-left: 25px;
    }
    &__info p {
        font-family: "IBMPlexSans-Medium";
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        color: #0E0A19;
        &:last-child {
            font-family: "IBMPlexSans-Light";
            margin-top: 10px;
            font-size: 12px;
            line-height: 104%;
            color: #AA9FA1;
        }
    }
}
.examples {
    &__container {
        position: relative;
        margin-top: 124px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        &:nth-child(2) {
            margin-top: 30px;
        }
    }
    &__columns {
        position: relative;
        &:nth-child(2) {
            margin: 55px 0 0 30px;
            .examples__img {
                position: absolute;
                left: -40px;
                width: 540px;
                height: 565px;
            }
        }
    }
    &__title {
        font-family: "IBMPlexSans-Medium";
        margin-bottom: 43px;
        font-weight: 600;
        font-size: 48px;
        line-height: 50px;
        color: #0E0A19;
    }
    &__flex {
        display: flex;
        width: 683px;
    }
    &__img {
        width: 370px;
        height: 574px;
    }
    &__content {
        margin: 100px 0 41px 515px;
        &-text {
            & p:first-child {
                font-family: "IBMPlexSans-Medium";
                margin-bottom: 26px;
                width: 127px;
                font-weight: 600;
                font-size: 18px;
                line-height: 19px;
                color: #0E0A19;
            }
            & p {
                font-family: "IBMPlexSans-Light";
                font-size: 12px;
                line-height: 12px;
                color: #C4C4C4;
            }
        }
    }
    &__year {
        &::after {
            content: "";
            position: absolute;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
            width: 49px;
            height: 21px;
            margin: -29px 0 0 5px;
        }
        margin-top: 114px;
        & p {
            font-family: "IBMPlexSans-Light";
            font-weight: 300;
            font-size: 72px;
            line-height: 83px;
            color: #0E0A19;
        }
        & span {
            font-family: "IBMPlexSans-Light";
            font-weight: 600;
            font-size: 19px;
        }
    }
    &__wrapper {
        margin-top: 60px;
        &-title {
            font-family: "IBMPlexSans-Medium";
            margin-bottom: 26px;
            font-weight: 600;
            font-size: 18px;
            line-height: 19px;
            color: #0E0A19;
        }
        &-subtitle {
            font-family: "IBMPlexSans-Light";
            font-size: 12px;
            line-height: 12px;
            color: #C4C4C4;
        }
    }
    &__inner {
        position: relative;
        width: 700px;
        display: flex;
        &-img {
            position: absolute;
            right: 0;
            width: 454px;
            height: 500px;
        }
    }
    &__description {
        margin-top: 50px;
        &-title {
            margin-bottom: 80px;
            & h1 {
                font-family: "IBMPlexSans-Medium";
                font-weight: 600;
                font-size: 18px;
                line-height: 19px;
                color: #0E0A19;
            }
            & p {
                font-family: "IBMPlexSans-Light";
                width: 200px;
                margin-top: 27px;
                font-size: 12px;
                line-height: 12px;
                color: #C4C4C4
            }
        }
        &-text {
            & p:first-child {
                font-family: "IBMPlexSans-Light";
                font-weight: 300;
                margin-bottom: 27px;
                font-size: 72px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 22px;
                    margin: 20px 0 0 4px;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                }
            }
            & p {
                font-family: "IBMPlexSans-Medium";
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #0E0A19;
            }
        }
    }
    &__onePhoto {
        position: absolute;
        right: 0;
        bottom: 55px;
        width: 470px;
        height: 570px;
    }
}