@import "nulling-styles";
@import "fonts";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.widthCenter {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.border {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border: 1px solid #312F2F;
        box-sizing: border-box;
        bottom: 7px;
        left: 7px;
        width: 263px;
        height: 76px;
    }
}
.send {
    cursor: pointer;
    width: 263px;
    height: 76px;
    background: #312F2F;
    font-family: "IBMPlexSans-Medium";
    box-shadow: 0 6px 10px -4px #333;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
}
.form-wrapper {
    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
    }
    &__title {
        margin-bottom: 24px;
        & p {
            font-family: "IBMPlexSans-Medium";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            color: #0E0A19;
        }
        & p:last-child::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 20px;
            margin-top: 21px;
            margin-left: -10px;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
        }
    }
    .header {
        &__container {
            display: flex;
            justify-content: space-between
        }
        &__description {
            margin-top: 16px;
            & p {
                font-family: "IBMPlexMono-Medium";
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #0E0A19;
                &:last-child::after {
                    content: "";
                    width: 16px;
                    height: 7px;
                    position: absolute;
                    margin: 8px 0 0 3px;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                }
            }
        }
        &__info {
            display: flex;
        }
        &__address {
            display: flex;
            align-items: center;
            margin-right: 27px;
            &-loc {
                background: url(../img/description/loc.svg) center/cover no-repeat;
                width: 10px;
                height: 12px;
                margin: 0 10px 1px 0;
            }
            & p {
                font-family: "IBMPlexSans-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
            }
        }
        &__contacts {
            background: #312F2F;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 30px;
            width: 142px;
            height: 60px;
            &-title {
                font-family: "IBMPlexSans-Light";
                margin-bottom: 5px;
            }
            &-title, .header__contacts-number {
                color: #FFFFFF;
                font-size: 12px;
                line-height: 12px;
            }
            &-number a {
                font-family: "IBMPlexSans-Medium";
                color: #FFFFFF;
            }
        }
        &__curtain {
            width: 70px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #FF3B3D;
            & div {
                width: 36px;
                height: 4px;
                background: #FFFFFF;
                margin-bottom: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    .rectangle {
        margin-top: 15px;
        position: relative;
        &__img {
            top: -53px;
            position: absolute;
            width: 543px;
            height: 547px;
            z-index: 10;
            right: 0;
            bottom: 10px;
            background: url(../img/rectangle/MockUp.png) no-repeat;
        }
        &__wrap {
            background: #FF3B3D;
            width: 457px;
            padding: 55px;
        }
        &__info {
            padding-top: 81.4%;
        }
        &__title {
            margin-bottom: 26px;
            & p {
                font-family: "IBMPlexSans-Medium";
                font-size: 18px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
        &__text {
            width: 230px;
            & p {
                font-family: "IBMPlexSans-Medium";
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;
                &:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
.wrapper {
    display: flex;
    margin-bottom: 20px;
    .label {
        display: flex;
        flex-direction: column-reverse;
        &:first-child {
            margin-right: 30px;
        }
        &__title {
            font-family: "IBMPlexSans-Medium";
            margin-bottom: 21px;
            font-size: 14px;
            line-height: 15px;
            color: #C4C4C4;
        }
        &__input {
            font-family: "IBMPlexSans-Medium";
            padding-left: 16px;
            font-size: 14px;
            line-height: 15px;
            color: #FF3B3D;
            width: 270px;
            height: 76px;
            border: 1px solid #E8DFE0;
            box-sizing: border-box;
            &:focus {
                border: 1px solid #FF3B3D;
            }
        }
    }
    .choose {
        margin-top: 36px;
        display: flex;
        cursor: pointer;
        &__btn {
            background: #FF3B3D;
            font-family: "IBMPlexSans-Light";
            position: relative;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: 15px;
            color: #FFFFFF;
            width: 202px;
            height: 76px;
            & label {
                cursor: pointer;
            }
        }
        &__arrow {
            background: #0E0A19;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 68px;
            height: 76px;
            &::before {
                content: "";
                background: url(../img/arrow/arrow.svg) center/cover no-repeat;
                position: absolute;
                width: 14px;
                height: 33px;
            }
        }
    }
}
.flex-block {
    margin-top: 40px;
    display: flex;
    &__container {
        display: flex;
        width: 270px;
        margin-right: 30px;
    }
    &__jackdaw {
        width: 10px;
        height: 10px;
        background: #FF3B3D;
        cursor: pointer;
    }
    &__text {
        font-family: "IBMPlexSans-Light";
        margin-left: 15px;
        font-size: 12px;
        line-height: 12px;
        color: #C4C4C4;
    }
}
%check {
    content: '';
	position: absolute;
    width: 10px;
    height: 10px;
    background: #FF3B3D;
    cursor: pointer;
}
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label:before {
    @extend %check;
}
.checkbox:checked + label:before {
    width: 10px;
    height: 9px;
    background: url(../img/arrow/Vector.svg) center no-repeat;
}
.slider-wrap {
    .slider-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        background: #FF3B3D;
        &__left, .slider-btn__fight {
            cursor: pointer;
            width: 85px;
            height: 60px;
        }
        &__left {
            background: url(../img/slider/arrow.svg) center no-repeat;
            transform: rotate(-180deg);
        }
        &__fight {
            background: url(../img/slider/arrow.svg) center no-repeat;
        }
    }
    &__holder {
        position: relative;
        display: flex;
    }
    &__title {
        margin-bottom: 38px;
        & p {
            font-family: "IBMPlexSans-Medium";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            color: #0E0A19;
        }
        & p:last-child::after {
            content: "";
            position: absolute;
            margin: 22px 0 0 7px;
            width: 50px;
            height: 20px;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
        }
    }
    &__inner {
        width: 370px;
        & a {
            display: block;
        }
    }
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__carousel {
        &-img {
            display: block;
            margin-bottom: 30px;
            width: 100%;
            height: 360px;
        }
    }
    &__info {
        margin-left: 25px;
    }
    &__info p {
        font-family: "IBMPlexSans-Medium";
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        color: #0E0A19;
        &:last-child {
            font-family: "IBMPlexSans-Light";
            margin-top: 10px;
            font-size: 12px;
            line-height: 104%;
            color: #AA9FA1;
        }
    }
}
.examples {
    &__container {
        position: relative;
        margin-top: 124px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        &:nth-child(2) {
            margin-top: 30px;
        }
    }
    &__columns {
        position: relative;
        &:nth-child(2) {
            margin: 55px 0 0 30px;
            .examples__img {
                position: absolute;
                left: -40px;
                width: 540px;
                height: 565px;
            }
        }
    }
    &__title {
        font-family: "IBMPlexSans-Medium";
        margin-bottom: 43px;
        font-weight: 600;
        font-size: 48px;
        line-height: 50px;
        color: #0E0A19;
    }
    &__flex {
        display: flex;
        width: 683px;
    }
    &__img {
        width: 370px;
        height: 574px;
    }
    &__content {
        margin: 100px 0 41px 515px;
        &-text {
            & p:first-child {
                font-family: "IBMPlexSans-Medium";
                margin-bottom: 26px;
                width: 127px;
                font-weight: 600;
                font-size: 18px;
                line-height: 19px;
                color: #0E0A19;
            }
            & p {
                font-family: "IBMPlexSans-Light";
                font-size: 12px;
                line-height: 12px;
                color: #C4C4C4;
            }
        }
    }
    &__year {
        &::after {
            content: "";
            position: absolute;
            background: url(../img/description/Vector.svg) center/cover no-repeat;
            width: 49px;
            height: 21px;
            margin: -29px 0 0 5px;
        }
        margin-top: 114px;
        & p {
            font-family: "IBMPlexSans-Light";
            font-weight: 300;
            font-size: 72px;
            line-height: 83px;
            color: #0E0A19;
        }
        & span {
            font-family: "IBMPlexSans-Light";
            font-weight: 600;
            font-size: 19px;
        }
    }
    &__wrapper {
        margin-top: 60px;
        &-title {
            font-family: "IBMPlexSans-Medium";
            margin-bottom: 26px;
            font-weight: 600;
            font-size: 18px;
            line-height: 19px;
            color: #0E0A19;
        }
        &-subtitle {
            font-family: "IBMPlexSans-Light";
            font-size: 12px;
            line-height: 12px;
            color: #C4C4C4;
        }
    }
    &__inner {
        position: relative;
        width: 700px;
        display: flex;
        &-img {
            position: absolute;
            right: 0;
            width: 454px;
            height: 500px;
        }
    }
    &__description {
        margin-top: 50px;
        &-title {
            margin-bottom: 80px;
            & h1 {
                font-family: "IBMPlexSans-Medium";
                font-weight: 600;
                font-size: 18px;
                line-height: 19px;
                color: #0E0A19;
            }
            & p {
                font-family: "IBMPlexSans-Light";
                width: 200px;
                margin-top: 27px;
                font-size: 12px;
                line-height: 12px;
                color: #C4C4C4
            }
        }
        &-text {
            & p:first-child {
                font-family: "IBMPlexSans-Light";
                font-weight: 300;
                margin-bottom: 27px;
                font-size: 72px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 22px;
                    margin: 20px 0 0 4px;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                }
            }
            & p {
                font-family: "IBMPlexSans-Medium";
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #0E0A19;
            }
        }
    }
    &__onePhoto {
        position: absolute;
        right: 0;
        bottom: 55px;
        width: 470px;
        height: 570px;
    }
}
.holder {
    margin-top: 160px;
    &__columns {
        display: flex;
        margin-bottom: 22px;
        &:nth-child(2) {
            .holder__wrap-links:nth-child(2) {
                border: 1px solid #E5E5E5;
                background: white;
                box-shadow: initial;
                margin-top: 0;
                .holder__wrap {
                    &-content:last-child {
                        display: flex;
                        justify-content: flex-end;
                    }
                    &-img {
                        background: url(../img/holder/Group7.png) center/contain no-repeat;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 255px;
                        height: 231px;
                    }
                    &-title h1 {
                        font-family: "IBMPlexSans-Bold";
                        color: black;
                        font-weight: 100;
                    }
                }
            }
            .holder__wrap-links:nth-child(1) {
                .holder__wrap {
                    &-img {
                        background: url(../img/holder/4c.png) center/contain no-repeat;
                        margin-top: 100px;
                        right: -27px;
                        position: relative;
                        width: 240px;
                        height: 125px;
                    }
                }
            }
        }
        &:first-child {
            .holder__wrap-links:first-child {
                .holder__wrap-img{
                    background: url(../img/holder/Group2.png) center/contain no-repeat;
                    position: absolute;
                    right: -26px;
                    bottom: 0;
                    width: 263px;
                    height: 175px;
                }
            } 
            .holder__wrap-links:last-child {
                .holder__wrap-img{
                    background: url(../img/holder/image.png) center/contain no-repeat;
                    mix-blend-mode: darken;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 160px;
                    height: 175px;
                }
            }
        }
        &-wrap {
            margin: 53px 0 0 100px;
        }
    }
    &__wrap {
        display: flex;
        &:first-child {
            justify-content: center;
            align-items: center;
        }
        &-text {
            margin-right: 86px;
            & h1 {
                font-family: "IBMPlexSans-Bold";
                font-weight: 100;
                font-size: 48px;
                line-height: 50px;
                color: #0E0A19;
            }
        }
        &-title {
            & h1 {
                font-family: "IBMPlexSans-Bold";
                font-weight: 100;
                font-size: 24px;
                line-height: 25px;
                color: #0E0A19;
            }
        }
        &-description {
            display: block;
            margin-top: 15px;
            & p {
                font-family: "IBMPlexSans-Light";
                width: 170px;
                font-size: 12px;
                line-height: 12px;
                color: #312F2F;
            }
        }
        &-items {
            display: block;
            padding: 30px;
        }
        &-links {
            position: relative;
            display: block;
            &:first-child  {
                border: 1px solid #E5E5E5;
                box-sizing: border-box;
                margin-right: 30px;
                width: 270px;
                height: 370px;
            }
            &:nth-child(2) {
                box-shadow: 0 12px 50px -10px #ccb7b7;
                margin-top: -20px;
                width: 470px;
                height: 370px;
                background: #FF3B3D;
                .holder__wrap-title h1 {
                    font-family: "IBMPlexSans-Light";
                    color: white;
                    font-weight: 600;
                }
            }
        }
        &-content {
            display: block;
        }
        &-img {
            display: block;
            image-rendering: auto;
        }
    }
    &__promote {
        &-title h1 {
            font-family: "IBMPlexSans-Bold";
            font-weight: 600;
            font-size: 18px;
            line-height: 19px;
            color: #0E0A19;
        }
        &-text {
            margin-bottom: 70px;
            & p {
                font-family: "IBMPlexSans-Light";
                width: 213px;
                font-size: 12px;
                line-height: 12px;
                color: #C4C4C4;
            }
        }
    }
    &__btn {
        & button {
            font-family: "IBMPlexSans-Medium";
            box-shadow: initial;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    }
}
.thematic {
    margin-bottom: 107px;
    &__container {
        margin-top: 60px;
        position: relative;
        display: flex;
    }
    &__wrap {
        position: relative;
        width: 49%;
        &-img {
            position: absolute;
            z-index: 10;
            left: -50px;
            width: 605px;
            height: 638px;
        }
        &-background {
            background: #E8DFE0;
            right: 0;
            margin-top: 48px;
            position: absolute;
            z-index: 9;
            height: 548px;
            width: 50vw;
        }
    }
    &__colum {
        margin: 55px 0 0 130px;
        &-title {
            margin-bottom: 50px;
            & h1 {
                @extend %sizeTitle;
                color: #0E0A19;
                &:last-child::after {
                    content: "";
                    position: absolute;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                    margin: 21px 0 0 10px;
                    width: 49px;
                    height: 20px;
                }
            }
        }
        %sizeTitle {
            font-family: "IBMPlexSans-Bold";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
        }
        &-text {
            margin-bottom: 50px;
            & p {
                @extend %sizeTitle;
                color: #FF3B3DFF;
            }
        }
    }
    &__button  {
        box-shadow: initial;
    }
    &__button p {
        font-family: "IBMPlexSans-Bold";
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        &::before {
            content: "";
            position: absolute;
            background: url(../img/thematic/Group8.svg) center/cover no-repeat;
            margin: -2px 0 0 -32px;
            width: 26px;
            height: 26px;
        }
    }
}
.columns {
    &__container {
        display: flex;
        padding-top: 85px;
    }
    &__flex {
        &:last-child {
            margin-left: 229px;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        &:first-child {
            .columns__wrapper-text {
                &:first-child {
                    box-shadow: 0 21px 46px -10px #c7b5b5;
                }
                &:last-child {
                    background: initial;
                    margin-right: 0;
                    & h1 {
                        color: black;
                    }
                    & p {
                        color: #FF3B3D;
                    }
                }
            }
        }
        &:last-child {
            .columns__wrapper-text {
                &:first-child {
                    background: initial;
                    margin-bottom: 0;
                    & h1 {
                        color: black;
                    }
                    & p {
                        color: #FF3B3D;
                    }
                }
            }
        }
        &-text {
            margin: 0 30px 30px 0;
            padding: 30px;
            width: 270px;
            height: 220px;
            background: #FF3B3D;
            & h1 {
                font-family: "IBMPlexSans-Bold";
                margin-bottom: 35px;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                color: #FFFFFF;
            }
            & p {
                font-family: "IBMPlexSans-Light";
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;
            }
        }
    }
    &__shadow {
        box-shadow: 0 192px 14px 0px #cecdcd;
        transition: all .4s ease-in-out;
        border-radius: 30px;
        margin: 0 auto;
        width: 270px;
        height: 300px;
    }
    &__return {
        transition: all .4s ease-in-out;
        position: absolute;
        width: 300px;
        top: 0;
        right: 0;
        overflow: hidden;
        height: 220px;
        &:hover {
            height: 262px;
            top: -42px;
        }
        &:hover .columns__shadow {
            box-shadow: 0 234px 14px 0px #cecdcd;
        }
    }
    &__context {
        width: 270px;
        height: 262px;
        position: relative;
        background: #E8DFE0;
        border-radius: 30px 30px 0 0;
        padding: 8px 9px 0 9px;
    }
    &__center {
        display: flex;
        justify-content: center;
    }
    &__inside {
        padding: 0 30px;
        background: #FF3B3D;
        border-radius: 36px 36px 0 0;
        width: 252px;
        height: 300px;
        position: absolute;
    }
    &__phone-title {
        margin-top: 35px;
        & h1 {
            font-family: "IBMPlexSans-Bold";
            font-weight: 600;
            font-size: 24px;
            line-height: 25px;
            color: #FFFFFF;
            &:last-child::after {
                content: "";
                position: absolute;
                background: url(../img/phone/Vector-white.svg) center/cover no-repeat;
                margin: 10px 0 0 5px;
                width: 26px;
                height: 11px;
            }
        }
    }
    &__curtain {
        border-radius: 0 0 17px 17px;
        position: relative;
        width: 133px;
        height: 21px;
        background: #0E0A19;
    }
    &__poin {
        right: 27px;
        top: 5px;
        border-radius: 50%;
        position: absolute;
        width: 8px;
        height: 8px;
        background: #FFFFFF;
    }
    &__price {
        margin-top: 50px;
        &-teeth {
            background: url(../img/phone/Rectangle.svg) 40% 0%;
            background-size: 100%;
            width: 100%;
            height: 17px;
            border-bottom: 0.2px solid #e8e5e6;
        }
        &-figure {
            background: radial-gradient(50% 46.15% at 50% 53.85%, #FFFFFF 0%, #F7F1F1 100%);
            width: 100%;
            height: 88px;
            & p {
                font-family: "IBMPlexSans-Bold";
                text-align: center;
                padding-top: 14px;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                color: #FF3B3D;
            }
        }
    }
    &__title {
        margin-bottom: 20px;
        & h1 {
            font-family: "IBMPlexSans-Bold";
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            color: #0E0A19;
            &:last-child::after {
                content: "";
                position: absolute;
                background: url(../img/description/Vector.svg) center/cover no-repeat;
                width: 57px;
                height: 20px;
                margin: 24px 0 0 10px;
            }
        }
    }
    &__text {
        margin-bottom: 65px;
        & p {
            font-family: "IBMPlexSans-Bold";
            width: 238px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 19px;
            color: #312F2F;
        }
    }
    &__button  {
        box-shadow: initial;
        & span {
            font-family: "IBMPlexSans-Light";
            font-weight: bold;
            font-size: 16px;
        }
    }
}
%sizeFonts {
    font-family: "IBMPlexSans-Bold";
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
}
.calculation {
    &__container {
        display: flex;
        margin-top: 110px;
    }
    &__form-title {
        margin-bottom: 39px;
        & p {
            font-family: "IBMPlexSans-Bold";
            font-weight: 600;
            font-size: 18px;
            line-height: 19px;
            color: #0E0A19;
        }
    }
    &__contant {
        padding: 42px 0 62px 100px;
        position: relative;
        z-index: 10;
        & .send {
            box-shadow: initial;
        }
        .label__input:focus + .label__title {
            color: #FF3B3D;
        }
    }
    &__columns {
        position: relative;
        &:first-child {
            width: 44%;
        }
        &-fond {
            background: #E8DFE0;
            position: absolute;
            height: 100%;
            width: 50vw;
            z-index: 9;
            left: 0;
        }
        &-title {
            margin: 32px 0 110px 0;
            & h1 {
                @extend %sizeFonts;
                color: #0E0A19;
                &:last-child::after {
                    content: "";
                    position: absolute;
                    background: url(../img/description/Vector.svg) center/cover no-repeat;
                    margin: 22px 0 0 8px;
                    width: 55px;
                    height: 22px;
                }
            }
        }
        &-text {
            & p {
                @extend %sizeFonts;
                color: #FF3B3D;
            }
        }
        & .label__title, .calculation__contant .flex-block__text {
            font-family: "IBMPlexSans-Light";
            font-weight: 600; 
            color: #0E0A19;
        }
    }
    &__percent {
        background: url(../img/percent/Group-5.svg) center/cover no-repeat;
        width: 290px;
        height: 334px;
        position: absolute;
        z-index: 11;
        right: -40px;
        bottom: 47px;
    }
}