@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: "IBMPlexSans-Light";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Light.woff") format("woff"), url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "IBMPlexMono-Medium";
  font-display: swap;
  src: url("../fonts/IBMPlexMono-Medium.woff") format("woff"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

.form-wrapper .header__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.form-wrapper .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrapper .header__description {
  margin-top: 16px;
}

.form-wrapper .header__description p {
  font-family: "IBMPlexMono-Medium";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0E0A19;
}

.form-wrapper .header__description p:last-child::after {
  content: "";
  width: 16px;
  height: 7px;
  position: absolute;
  margin: 8px 0 0 3px;
  background: url(../img/description/Vector.svg) center/cover no-repeat;
}

.form-wrapper .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-wrapper .header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 27px;
}

.form-wrapper .header__address-loc {
  background: url(../img/description/loc.svg) center/cover no-repeat;
  width: 10px;
  height: 12px;
  margin: 0 10px 1px 0;
}

.form-wrapper .header__address p {
  font-family: "IBMPlexSans-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}

.form-wrapper .header__contacts {
  background: #312F2F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  width: 142px;
  height: 60px;
}

.form-wrapper .header__contacts-title {
  font-family: "IBMPlexSans-Light";
  margin-bottom: 5px;
}

.form-wrapper .header__contacts-title,
.form-wrapper .header__contacts .header__contacts-number {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
}

.form-wrapper .header__contacts-number a {
  font-family: "IBMPlexSans-Medium";
  color: #FFFFFF;
}

.form-wrapper .header__curtain {
  width: 70px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FF3B3D;
}

.form-wrapper .header__curtain div {
  width: 36px;
  height: 4px;
  background: #FFFFFF;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}